certifi
chardet
idna
numpy
pandas
python-dateutil
pytz
requests
jsonschema
requests-toolbelt
robotframework
robotframework-pythonlibcore
robotframework-requests
robotframework-seleniumlibrary
selenium
six
urllib3
